%form{:method=>'POST', :action=>'/new'}
  %label{:for=>'pres_title'} Title:&nbsp;
  %input{:type => 'text', :name => 'presentation[title]', :id=>'pres_title'}
  %select{:name => 'presentation[style]'}
    -Dir["./public/themes/style/*.css"].each do |file|
      -file = file.gsub(%r{(./public/themes/style/|.css)},'')
      %option{:value=>file}= file.capitalize
  %select{:name => 'presentation[transition]'}
    -Dir["./public/themes/transition/*.css"].each do |file|
      -file = file.gsub(%r{(./public/themes/transition/|.css)},'')
      %option{:value=>file}= file.capitalize
  %input.btn{:type => 'submit', :value => 'New Presentation'}
