%form{:action=>'/pres/slide/edit', :method => 'POST'}
  %input{:type=>'hidden', :name=>'slide', :value=>params[:id]}
  %textarea{:name=>'content'}= @slide.content
  %input{:type=>'submit',:value=>'Save'}