%h2 Edit Slide
%form{:action=>'/pres/slide/edit', :method => 'POST'}
  %input{:type=>'hidden', :name=>'slide', :value=>params[:id]}
  %textarea{:name=>'content',:cols=>'200',:rows=>'8'}= @slide.content
  %input.btn{:type=>'submit',:value=>'Save'}
