!!! 5
%html
  %head
    %meta{:charset=>'utf-8'}
    %title Deck The Halls - Sinatra Presentation Software
    %link{:rel=>"stylesheet", :href=>"http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css"}
    %style .pusher{display:block;height:100px;}
  %body
    .topbar
      .topbar-inner
        .container
          %a.brand{:href=>"/"} Deck The Halls
    .pusher
    .container
      = yield
