%h2 New Slide
%form{:action=>'/pres/slide/new', :method => 'POST'}
  %input{:type=>'hidden', :name=>'pres', :value=>params[:id]}
  %textarea{:name=>'slide[content]',:cols=>'200',:rows=>'8'}
  %input.btn{:type=>'submit',:value=>'Save'}
